h1 {
  text-align: center;
  color: black;
}

body {
  background: linear-gradient(135deg, #FCAF45, #F77737, #FD5949, #D6249F, #285AEB, #4A569D, #56C5AB);
}

form {
  text-align: center;
}

.container {
  width: 500px;
  height: 500px;
  padding: 10px;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.draggable {
  position: absolute;
  cursor: grab;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

#content {
  font-size: 30px; 
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
